.client-heading {
    font-size:46px;
    font-weight:600;
    letter-spacing: 0;
    line-height: 67px;
    color: #233A41;
    text-align: center;
    margin-bottom: 0px;
}

.client-para {
    font-size:15px;
    font-weight:300;
    letter-spacing: 0;
    line-height: 33px;
    color: #233A41;
    text-align: center;
    margin-top: 0px;
}
.client-comp-container {
    display: flex;
    gap: 4%;
}
.client-main-container {
      padding: 3% 7% 3% 9%;
}

@media (max-width: 768px) {
    .client-comp-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4%;
}
}