.header-container {
    display: flex;
    justify-content: space-between;
     padding: 0.5% 7% 1% 9%;
}
.header-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-name {
   font-size: 22px;
   font-family: bold;
   color: #340E0E;
   margin: 0;
   margin-left: 5px;
}
.navlist {
    display:'flex';
    list-style:'none';
    gap:'25px';
    font-size:'16px';
    font-weight:'400';
   cursor: pointer;
}
@media (max-width: 768px) {
    .header-logo-container {
        display: none;
    }
    .header-button{
        display: none;
    }
}