.heading {
    font-size: 50px;
    font-weight: 600;
    line-height: 67px;
    text-align: center;
    letter-spacing: 0;
    color: #233A41;
    margin-bottom: 0px;
}
.para {
     font-size: 15px;
    font-weight: 300;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0;
    color: #132A31;
}
.box {
    display: flex;
}
.box-heading {
 font-size: 34px;
 font-weight: 600;
 line-height: 20px;
 letter-spacing: 0;
 color:#233A41;
}
.box-heading-second {
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 400;
  color: #233A41;
  margin-bottom: 0;
}
.box-para {
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0;
    color: #132A31;
    margin-top: 0;
}
.green-image-container {
    background-color: #2FC980;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-image-container {
    background-color: #FF8C91;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire-about-container {
    padding: 3% 7% 0% 9%;
    margin-bottom: 0px;
}
.tick-box-container {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
    .tick-box-container {
        display: flex;
    }
}