.process-image-container {
    width:180px;
    height: 180px;
    border-radius: 50%;
    border:8px solid #2FC980;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.notifications-box {
    width: 60px;
    height: 60px;
    background-color: #FF8C91;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    border: none;
    position: absolute;
    top: -24px;
    right: 15px;

}
.notifications-para {
  color: #FFFFFF;
  font-size: 30px;
  font-weight:600;
  text-align: center;
  margin: 0;
  margin-top:25%;
}
.process-inquiry {
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0;
    font-weight: 600;
    color: #233A41;
    text-align: center;
    margin-bottom: 0;
}
.process-last {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 300;
    color: #233A41;
    text-align: center;
    margin: 0;
}
.process-heading {
    font-size: 50px;
    font-weight: 600;
    line-height: 67%;
    letter-spacing: 0;
    text-align: center;
    color: #233A41;
    margin-bottom: 15px;
}

.process-para {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0;
    color:#132A31;
    text-align: center;
    margin-bottom: 30px;
}
.process-inner-container {
    width:250px;
    display: flex;
    gap:32px;
}
.process-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 7% 3% 10%;
    background-image: url("/ProcessBgImg.png");
}
.right-arrow {
    position: relative;
    top: 100px;
}

@media (max-width: 768px) {
    .process-inner-container{
     display: flex;
    flex-direction: column;
    }
   .right-arrow{
    display: none;
   }
} 