.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/Section-two.png");
    column-gap: 5%;
    width: 100%;
    padding: 3% 7% 3% 9%;

}
.heading-one {
    font-size:50px;
    font-weight:500;
    color:#2FC980;
    margin:0;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 0px;
}
.heading-two {
    font-size:98px;
    font-weight:700;
    color:#233A41;
    font-family: poppins;
    margin: 0px;
}
.para-one {
    font-size:18px;
    font-weight:400;
    color: #233A41;
    margin-top: 0;
}
.para-two {
    font-size:15px;
    color:#132A31;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0%;
}
.view-more-button {
    background-color: #FF8C91;
    color:#FFFFFF;
    font-size: 16px;
    font-weight:500;
    letter-spacing: 0;
    border: none;
    padding: 13px 25px 13px 25px;
    border-radius: 3px;
    cursor: pointer;
}
.Arrow-Img {
    width: 14px;
    padding-left:5px;
    color:#FFFFFF
}
.get-in-touch-button {
      background-color: #FFFFFF;
    color:#233A41;
    font-size: 16px;
    font-weight:500;
    letter-spacing: 0;
    border: 2px solid #2DC67D;
    padding: 11px 25px 11px 25px;
    border-radius: 3px;
    margin-left:10px;
    cursor: pointer;
}
.form-heading {
  background-color: #2DC67D0F;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Rectangle-Image {
  max-width: 200px;
  width:100%;
}
.form-text {
    font-size: 20px;
    font-weight:600;
    line-height: 1;
    letter-spacing: 0;
    color: #233A41;
}
.form-para {
    font-size: 14px;
    font-weight:300;
    line-height: 1;
    letter-spacing: 0;
    color: #233A41;
}
 form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
    max-width: 600px;
    column-gap: 30px;
  }

  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size:14px;
  }

  form input, form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

 
  .full-width {
    grid-column: 1 / 3;
  }
  .heading-left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-container {
  width: 100%;        
  max-width: 500px;  
  margin: 0 auto;     
}
  .form-box {
  padding: 20px;
  width: 100%; 
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;   
    padding: 20px;
  }

  .heading-one {
    font-size: 30px;
    text-align: center;
  }

  .heading-two {
    font-size: 50px;
    text-align: center;
  }

  .para-one, 
  .para-two {
    text-align: center;
  }

  form {
    grid-template-columns: 1fr; 
  }

  .view-more-button, 
  .get-in-touch-button {
    width: 100%; 
    margin: 10px 0;
  }

  .form-container {
    max-width: 100%;  
  }
}