.guide-heading {
    font-size:35px;
    font-weight:600;
    line-height: 53px;
    letter-spacing: 0;
    color: #233A41;
    text-align: center;
}
.guide-inner-container {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
}
.para-lists p {
 font-size:16px;
 line-height: 33px;
 font-weight: 300;
 letter-spacing: 0;
  cursor: pointer;
}
.guide-para {
    padding: 14px;
     color:#000000;
     margin-top:0px;
     margin-bottom:0px;
    
}
.active-para {
    background-color: #2FC980;
    color: #FFFFFF;
}
.inner-heading {
font-size: 20px;
line-height: 33px;
font-weight: 300;
letter-spacing: 0;
color: #000000;
}
.inner-para {
 font-size: 15px;
 line-height: 28px;
 letter-spacing: 0;
 font-weight: 300;
}