.client-image {
    position: relative;
     clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
}
.green-circle {
    position: absolute;
    bottom:10%;
    left:35%;
}
.client-container{
    margin: 0;
}
.client-name {
    font-size:22px;
    font-weight:600;
    line-height: 33px;
    letter-spacing: 0%;
    margin-bottom: 0;
}
.client-role {
    font-size:16px;
    font-weight:300;
    line-height: 33px;
    letter-spacing: 0%;
    margin-bottom: 0;
    color: #6F6F6F;
    margin-top: 0px;
}